# don't commit big input files to repo
analysis/data/input/pcawg.rnaseq.transcript.expr.tpm.tsv
analysis/data/input/pcawg.rnaseq.transcript.expr.counts.tsv

# don't commit output data and plots
analysis/data/output/
analysis/data/plot/

# jupyter
.ipynb_checkpoints
